<main class='p-5'>
  <div class='card p-5'>
    <p>
      Hello world!!!!!!!!!!!!!! Hello world!!!!!!!!!!!!!!
      Hello world!!!!!!!!!!!!!! Hello world!!!!!!!!!!!!!!
      Hello world!!!!!!!!!!!!!! Hello world!!!!!!!!!!!!!!
      Hello world!!!!!!!!!!!!!! Hello world!!!!!!!!!!!!!!
    </p>
  </div>

  <div class='card p-5'>
    <h1 hidden id='test'>
      Hello world!!!
    </h1>
    <span class='test'> Test</span>
    <div> block</div>
    <div> block</div>
    <div> block</div>
    <div> block</div>
  </div>

  <div style='margin 20px 0 25px 40px; background: grey'>
    <span> InLine</span>
    <span> InLine</span>
    <span> InLine</span>
    <span class='block'> InLine1</span>
  </div>
</main>