<a href='https://github.com/'>hello!</a>

<p>gtredhnsh ghdjKJLKLK</p>

<span>Text Fullscreen</span>

{{! 
Lesson_7 }}

<div class='card m-5 p-5 card-dark'>
  <input
    class='input-dark p-5'
    placeholder='This is text'
  />
  <input class='input-dark' type='number' />
</div>

<div class='card m-5 p-5 card-dark'>
  <a href='#test'>Click me</a>
</div>

<div class='card m-5 p-5 card-dark'>
  <a
    class='a'
    href='https://forum.ubuntu.ru/index.php?topic=309065.0'
  >Click me</a>
</div>

<div class='card m-5 p-5 card-dark'>
  <a class='link' href='#'>TEST_Active</a>
</div>

<div lang='fr' id='test' class='card m-5 p-5 card-dark'>
  RKIRDERWSSSD
  <span>bonjorno!!!</span>
  <button class='m-5'> Test button </button>
</div>

<div>

  <button class='m-5'> Test button</button>
  <button disabled class='m-5'>
    Test button-disabled
  </button>
</div>

<div class='card m-5 p-5 card-dark'>
  <input class='inp' />
  <input class='inp p-5' readonly />
  <input class='inp' disabled />
  <div>
    <input type='checkbox' />
    <span>first</span>
  </div>
  <div>
    <input type='checkbox' checked />
    <span>second</span>
  </div>
  <div>
    <input type='checkbox' />
    <span>thed</span>
  </div>

</div>
{{! якщо не пишемо рекваіред - то поле не є обов'язковим! }}
<div class='card-dark m-5 p-5'>
  <div>
    <input type='email' required class='valid' />
  </div>
  <div>
    <input
      type='email'
      optional
      class='valid my-5'
      placeholder='test-test'
    />
    <span>Test text</span>
  </div>
  <div>
    <input
      type='number'
      min='10'
      max='20'
      required
      class='number'
    />
  </div>

</div>