<div class='art'>
  {{#if isNew}} <span class='new'> NEW</span>{{/if}}
  <div>

    <img src='{{photo}}' alt='Image' class='art_photo' />

  </div>
  <div>
    <h3 class='art_name'>{{name}}</h3>
    <span class='art_description'>{{description}}</span>
  </div>
  <div class='art_button_card'>
    <button class='art_button_read' crs='#'>Read All</button>
  </div>
</div>