<div class='footer'>
  <div>
    {{#each footer.pages}}
      <a href='{{path}}' class='footer_pages'> {{name}}</a>
    {{/each}}
  </div>
  <p class='footer_copyright'>{{footer.copyright}}</p>
</div>